@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v14-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v14-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v14-latin-500.woff2") format("woff2"), url("../fonts/rubik-v14-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v14-latin-900.woff2") format("woff2"), url("../fonts/rubik-v14-latin-900.woff") format("woff"); 
}

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom, #C8D7E4, #94B3CB);
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-header {
  margin-top: 20px;
  background-color: #6A96D8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.profile-name::before{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  width: 7px;
  height: 7px;
  content: "";
  background-color: #fff;
  border-radius: 100%;
}

.wrapper-body{
  background-color: #fff;
  padding-bottom: 20px;
}

.container-line-top{
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.line-top {
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  border-bottom: 1px solid #F4F4F4;
}

.date{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #DDDBDB;
  background-color: #fff;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.time {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #B3B3B3;
  font-size: 12px;
}

.container-message, .container-block{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container-left{
  align-items: flex-start;
}

.container-right{
  align-items: flex-end;
}

.message{
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 300px;
  padding: 10px;
}

.container-left .message {
  border-radius: 0 5px 5px 5px;
  background-color: #E6EDF6;
}

.container-right .message {
  border-radius: 5px 0 5px 5px;
  background-color: #F2F2F2;
}

.container-message .message::before{
  display: inline-block;
  position: absolute;
  content: "";
}

.container-left .message::before{
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-top: 7px solid #E6EDF6;
  border-left: 7px solid transparent;
}

.container-right .message::before{
  top: 0;
  right: 0;
  transform: translateX(100%);
  border-top: 7px solid #E6EDF6;
  border-right: 7px solid transparent;
}

.container-block .message {
  background-color: #FFC2C1;
  border-radius: 0 5px 5px
  5px;
}

.container-line-bottom {
  margin-bottom: 20px;
}

.line-bottom{
  height: 1px;
  background-color: #DDDDDD;
}

.container-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-message {
  border: none;
}

.input-message:focus {
  outline: none;
}

.btn-send {
  text-transform: uppercase;
  color: #6794D7;
  letter-spacing: 2px;
  font-weight: bold;
}